@model BaseProject.Domain.DTO.SecurityDTO.LoginDTO
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Admin Panel Login</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Font Awesome -->

    <link href="~/lib/fontawesome-free/css/all.css" rel="stylesheet" />
    <!-- Ionicons -->
    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <!-- icheck bootstrap -->
    <link href="~/lib/icheck-bootstrap/icheck-bootstrap.css" rel="stylesheet" />
    <!-- Theme style -->

    <link href="~/css/adminlte.css" rel="stylesheet" />
    <!-- Google Font: Source Sans Pro -->
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">
</head>
<body class="hold-transition login-page">
    <div class="login-box">

        <!-- /.login-logo -->
        <div class="card">
            <div class="card-body login-card-body">
                <div class="text-center">
                    <img style="height:250px; width:250px" src="~/assets/templateImage/logo.jpeg" />
                </div>
                <p class="login-box-msg">STRABORN Admin Paneli</p>

                <form asp-controller="Security" asp-action="Login" method="post">
                    @Html.ValidationMessage("All", new { @class = "alert-danger" })
                    <div class="input-group mb-3">
                        <input asp-for="UserName" class="form-control" placeholder="Kullanıcı Adı" required>
                        <span asp-validation-for="UserName" class="text-danger"></span>

                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-envelope"></span>
                            </div>
                        </div>
                    </div>
                    <div class="input-group mb-3">
                        <input asp-for="Password" class="form-control" placeholder="Şifre" required>
                        <span asp-validation-for="Password" class="text-danger"></span>
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-lock"></span>
                            </div>
                        </div>
                    </div>
                    <div class="row">

                        <!-- /.col -->
                        <div class="col-12">
                            <button type="submit" class="btn btn-primary btn-block">Giriş</button>
                        </div>
                        <!-- /.col -->
                    </div>
                </form>

                <!-- /.social-auth-links -->

                <p class="mb-1">
                    <a href="forgot-password.html">Şifremi Unuttu</a>
                </p>

            </div>
            <!-- /.login-card-body -->
        </div>
    </div>
    <!-- /.login-box -->
    <!-- jQuery -->

    <script src="~/lib/jquery/jquery.js"></script>
    <!-- Bootstrap 4 -->

    <script src="~/lib/bootstrap/js/bootstrap.js"></script>
    <!-- AdminLTE App -->
    <script src="~/js/adminlte.js"></script>

</body>
</html>


